@page "/ToDoCard"
@using ToDoList.Shared
@inject IJSRuntime JSRuntime

<div class="item">
    @*removed card cls to test and width 300px and bgcolor*@
    <h3> @card.Title          @*@card.Card.Count(x => x.IsDone)*@</h3>
    <ul style="list-style: none;">
        @foreach (var item in card.Items)
        {
            <li>
                <input type="checkbox" @bind="item.IsDone" />
                @if (item.IsDone)
                {
                    <del>@item.Task</del>
                }
                else
                {
                    @item.Task
                }
            </li>
        }
    </ul>
    <input style="width:100%;" placeholder="Something todo" @bind="newTodo" @onkeyup="(e => AddToDo(e))" @onclick:stopPropagation="true" />
</div>

@code {

    private string newTodo;
    public string Title { get; set; }
    public List<TodoItemModel> itemLst = new List<TodoItemModel>();

    [Parameter]
    public TodoCardModel card { get; set; }

    public List<TodoCardModel> cardLst = new List<TodoCardModel>();

    protected override void OnAfterRender(bool firstRender)
    {
            base.OnAfterRender(firstRender);
            ActivateFreeWallJs();
        }

    private void ActivateFreeWallJs()
    {
        JSRuntime.InvokeVoidAsync(
              "UIJsLibraryFunctions.activateFreeWall",
              "container");

        //await JSRuntime.InvokeVoidAsync(
        //     "exampleJsFunctions.displayWelcome",
        //     $"Hello {name}! Welcome to Blazor!");
    }

    private void AddToDo(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (!string.IsNullOrWhiteSpace(newTodo))
            {
                card.Items.Add(new TodoItemModel { Task = newTodo });
                newTodo = string.Empty;
            }
        }
    }
}
